## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
*.swo
tags

## Bundler
/Gemfile.lock
/Gemfile.local
/.bundle
/vendor/

## rbenv / rvm
.rbenv*
.rvmrc*
.ruby-*

## rspec
/spec/fixtures/manifests/
/spec/fixtures/modules/

## Puppet module
/pkg/
/coverage/

## InteliJ / RubyMine
.idea

## Added by PDK
.git/
.metadata
.yardoc
.yardwarns
*.iml
/.vagrant/
/bin/
/doc/
/junit/
/log/
/tmp/
/convert_report.txt
/update_report.txt
.project
.envrc
/inventory.yaml
